Connected Services/ServiceSistemaLibros/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63428/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServicioLibreria" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFServicioLibreria" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFServicioLibreria" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_LISTARVISTALIBROS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_LISTARVISTALIBROSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFServicioLibreria" minOccurs="0" name="SP_LISTARVISTALIBROSResult" nillable="true" type="q3:ArrayOfDtoLibro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_RESERVARLIBRO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFServicioLibreria" minOccurs="0" name="reservation" nillable="true" type="q4:Reservation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_RESERVARLIBROResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_OBTENERUSUARIOXEMAIL">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_OBTENERUSUARIOXEMAILResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFServicioLibreria" minOccurs="0" name="SP_OBTENERUSUARIOXEMAILResult" nillable="true" type="q5:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_VALIDARRESERVAXLIBRO">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_VALIDARRESERVAXLIBROResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SP_VALIDARRESERVAXLIBROResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_VALIDARRESERVAXUSUARIOXLIBRO">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
        <xs:element minOccurs="0" name="varCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_VALIDARRESERVAXUSUARIOXLIBROResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SP_VALIDARRESERVAXUSUARIOXLIBROResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_BUSCARLIBROXCODE">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_BUSCARLIBROXCODEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFServicioLibreria" minOccurs="0" name="SP_BUSCARLIBROXCODEResult" nillable="true" type="q6:Book" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_RESERVARCOLA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
        <xs:element minOccurs="0" name="idBook" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_RESERVARCOLAResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_VALIDARCOLA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
        <xs:element minOccurs="0" name="idBook" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_VALIDARCOLAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SP_VALIDARCOLAResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_LISTARNOTIFICACIONESXUSUARIO">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_LISTARNOTIFICACIONESXUSUARIOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCFServicioLibreria" minOccurs="0" name="SP_LISTARNOTIFICACIONESXUSUARIOResult" nillable="true" type="q7:ArrayOfMensajeNotificacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>