Connected Services/ServiceSistemaLibros/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63428/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63428/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63428/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServicioLibreria" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SP_LISTARVISTALIBROS_InputMessage">
    <wsdl:part name="parameters" element="tns:SP_LISTARVISTALIBROS" />
  </wsdl:message>
  <wsdl:message name="IService1_SP_LISTARVISTALIBROS_OutputMessage">
    <wsdl:part name="parameters" element="tns:SP_LISTARVISTALIBROSResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SP_RESERVARLIBRO_InputMessage">
    <wsdl:part name="parameters" element="tns:SP_RESERVARLIBRO" />
  </wsdl:message>
  <wsdl:message name="IService1_SP_RESERVARLIBRO_OutputMessage">
    <wsdl:part name="parameters" element="tns:SP_RESERVARLIBROResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SP_OBTENERUSUARIOXEMAIL_InputMessage">
    <wsdl:part name="parameters" element="tns:SP_OBTENERUSUARIOXEMAIL" />
  </wsdl:message>
  <wsdl:message name="IService1_SP_OBTENERUSUARIOXEMAIL_OutputMessage">
    <wsdl:part name="parameters" element="tns:SP_OBTENERUSUARIOXEMAILResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SP_VALIDARRESERVAXLIBRO_InputMessage">
    <wsdl:part name="parameters" element="tns:SP_VALIDARRESERVAXLIBRO" />
  </wsdl:message>
  <wsdl:message name="IService1_SP_VALIDARRESERVAXLIBRO_OutputMessage">
    <wsdl:part name="parameters" element="tns:SP_VALIDARRESERVAXLIBROResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SP_VALIDARRESERVAXUSUARIOXLIBRO_InputMessage">
    <wsdl:part name="parameters" element="tns:SP_VALIDARRESERVAXUSUARIOXLIBRO" />
  </wsdl:message>
  <wsdl:message name="IService1_SP_VALIDARRESERVAXUSUARIOXLIBRO_OutputMessage">
    <wsdl:part name="parameters" element="tns:SP_VALIDARRESERVAXUSUARIOXLIBROResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SP_BUSCARLIBROXCODE_InputMessage">
    <wsdl:part name="parameters" element="tns:SP_BUSCARLIBROXCODE" />
  </wsdl:message>
  <wsdl:message name="IService1_SP_BUSCARLIBROXCODE_OutputMessage">
    <wsdl:part name="parameters" element="tns:SP_BUSCARLIBROXCODEResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SP_RESERVARCOLA_InputMessage">
    <wsdl:part name="parameters" element="tns:SP_RESERVARCOLA" />
  </wsdl:message>
  <wsdl:message name="IService1_SP_RESERVARCOLA_OutputMessage">
    <wsdl:part name="parameters" element="tns:SP_RESERVARCOLAResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SP_VALIDARCOLA_InputMessage">
    <wsdl:part name="parameters" element="tns:SP_VALIDARCOLA" />
  </wsdl:message>
  <wsdl:message name="IService1_SP_VALIDARCOLA_OutputMessage">
    <wsdl:part name="parameters" element="tns:SP_VALIDARCOLAResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SP_LISTARNOTIFICACIONESXUSUARIO_InputMessage">
    <wsdl:part name="parameters" element="tns:SP_LISTARNOTIFICACIONESXUSUARIO" />
  </wsdl:message>
  <wsdl:message name="IService1_SP_LISTARNOTIFICACIONESXUSUARIO_OutputMessage">
    <wsdl:part name="parameters" element="tns:SP_LISTARNOTIFICACIONESXUSUARIOResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SP_LISTARVISTALIBROS">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SP_LISTARVISTALIBROS" message="tns:IService1_SP_LISTARVISTALIBROS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SP_LISTARVISTALIBROSResponse" message="tns:IService1_SP_LISTARVISTALIBROS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SP_RESERVARLIBRO">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SP_RESERVARLIBRO" message="tns:IService1_SP_RESERVARLIBRO_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SP_RESERVARLIBROResponse" message="tns:IService1_SP_RESERVARLIBRO_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SP_OBTENERUSUARIOXEMAIL">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SP_OBTENERUSUARIOXEMAIL" message="tns:IService1_SP_OBTENERUSUARIOXEMAIL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SP_OBTENERUSUARIOXEMAILResponse" message="tns:IService1_SP_OBTENERUSUARIOXEMAIL_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SP_VALIDARRESERVAXLIBRO">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SP_VALIDARRESERVAXLIBRO" message="tns:IService1_SP_VALIDARRESERVAXLIBRO_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SP_VALIDARRESERVAXLIBROResponse" message="tns:IService1_SP_VALIDARRESERVAXLIBRO_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SP_VALIDARRESERVAXUSUARIOXLIBRO">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SP_VALIDARRESERVAXUSUARIOXLIBRO" message="tns:IService1_SP_VALIDARRESERVAXUSUARIOXLIBRO_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SP_VALIDARRESERVAXUSUARIOXLIBROResponse" message="tns:IService1_SP_VALIDARRESERVAXUSUARIOXLIBRO_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SP_BUSCARLIBROXCODE">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SP_BUSCARLIBROXCODE" message="tns:IService1_SP_BUSCARLIBROXCODE_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SP_BUSCARLIBROXCODEResponse" message="tns:IService1_SP_BUSCARLIBROXCODE_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SP_RESERVARCOLA">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SP_RESERVARCOLA" message="tns:IService1_SP_RESERVARCOLA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SP_RESERVARCOLAResponse" message="tns:IService1_SP_RESERVARCOLA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SP_VALIDARCOLA">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SP_VALIDARCOLA" message="tns:IService1_SP_VALIDARCOLA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SP_VALIDARCOLAResponse" message="tns:IService1_SP_VALIDARCOLA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SP_LISTARNOTIFICACIONESXUSUARIO">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SP_LISTARNOTIFICACIONESXUSUARIO" message="tns:IService1_SP_LISTARNOTIFICACIONESXUSUARIO_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SP_LISTARNOTIFICACIONESXUSUARIOResponse" message="tns:IService1_SP_LISTARNOTIFICACIONESXUSUARIO_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SP_LISTARVISTALIBROS">
      <soap:operation soapAction="http://tempuri.org/IService1/SP_LISTARVISTALIBROS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SP_RESERVARLIBRO">
      <soap:operation soapAction="http://tempuri.org/IService1/SP_RESERVARLIBRO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SP_OBTENERUSUARIOXEMAIL">
      <soap:operation soapAction="http://tempuri.org/IService1/SP_OBTENERUSUARIOXEMAIL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SP_VALIDARRESERVAXLIBRO">
      <soap:operation soapAction="http://tempuri.org/IService1/SP_VALIDARRESERVAXLIBRO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SP_VALIDARRESERVAXUSUARIOXLIBRO">
      <soap:operation soapAction="http://tempuri.org/IService1/SP_VALIDARRESERVAXUSUARIOXLIBRO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SP_BUSCARLIBROXCODE">
      <soap:operation soapAction="http://tempuri.org/IService1/SP_BUSCARLIBROXCODE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SP_RESERVARCOLA">
      <soap:operation soapAction="http://tempuri.org/IService1/SP_RESERVARCOLA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SP_VALIDARCOLA">
      <soap:operation soapAction="http://tempuri.org/IService1/SP_VALIDARCOLA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SP_LISTARNOTIFICACIONESXUSUARIO">
      <soap:operation soapAction="http://tempuri.org/IService1/SP_LISTARNOTIFICACIONESXUSUARIO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:63428/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>